{% load i18n satchmo_category satchmo_util %}

{% block top_container %}
    <div id="top">
        <a href="/" title="home"><img src="{{ STATIC_URL }}/images/logo/TFO_logo.png" alt="{{ shop_name }}" id="logo"></a>
        <a href="skype:thailandfurnitureonline?call" id="skype_logo"></a>
        <a href="https://twitter.com/ThailandFurnitu" target="_blank" id="social_logo_t"></a>
        <a href="http://www.linkedin.com/company/t-f-o-trading-co-ltd/" target="_blank" id="social_logo_in"></a>
        <a href="http://apps.facebook.com/thailandfurniture" target="_blank" id="social_logo_f"> </a>
        <a href="http:/www.facebook.com" target="_blank" id="fb_connect"></a>
        <img src="{{ STATIC_URL }}/images/logo/TFO-Banner.png" id="banner">
        {% satchmo_search_form %}
    </div>

    <div id="top-menu">
        {% block top-menu %}

            <div>
                {% block menu %}
                    {% block menu-categories %}
                        <div id="menu-container">
                            {% if category.id %}
                                {% category_tree category.id %}
                            {% else %}

                                {% if product.get_category %}
                                    {% category_tree product.get_category.id %}
                                {% else %}
                                    {% category_tree 0 %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock menu-categories %}
                {% endblock menu %}
            </div>
        {% endblock top-menu %}
    </div>
{% endblock top_container %}