/* @override http://localhost:8000/static/css/style.css */

html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

#container {
    width: 940px;
    margin: 10px auto;
    background-color: #fff;
    color: #333;
    border: 1px solid #ffffff;
    line-height: 130%;
    padding: 0;
    margin-top: 0;
}


#navbar {
    width: 938px;
    background: #fff;
    border: 1px solid #ffffff;
    height: 30px;
    margin: 41px 0 0 0;
    z-index: 100;
    color: red;
    padding-top: 0;
}

#logo {
    padding-left: 12px;
}

#navbar ul li a:hover {
    background: #FFFFFF ;
    color: #FF0000;

}

#top {
    padding: .5em;
    background-color: #FFFFFF;
    border-style: hidden;
    margin-bottom: 2px;
}

#top h3 {
    display: none;
}
#top h1 {
    padding: 0;
    margin: 0;
}

#social_logo_t {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/twitter_logo.png) no-repeat bottom;
}
#social_logo_t:hover {
    background: url(/static/images/logo/twitter_logo.png) no-repeat top;
}

#social_logo_in {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/in_logo.png) no-repeat bottom;
}
#social_logo_in:hover {
    background: url(/static/images/logo/in_logo.png) no-repeat top;
}

#social_logo_f {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/facebook_logo.png) no-repeat bottom;
}
#social_logo_f:hover {
    background: url(/static/images/logo/facebook_logo.png) no-repeat top;
}

#skype_logo {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/skype_logo.png)no-repeat bottom;
}
#skype_logo:hover {
    background: url(/static/images/logo/skype_logo.png) no-repeat top;
}

#search {
    padding-right: 400px;
    padding-top: 20px;
    float: right;
}



h5 {
    margin: 0;
    padding: 0;
}

#sidebar-secondary {
    width: 260px;
    margin: 0;
    padding: 0;
    float: left;
    display: none;
}

#top-menu {
    width: 940px;

}

#sidebar-secondary h3, #sidebar-primary h3 {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0.1em;
    margin-top: 0;
    color: #FFFFFF;
    display: none;
}

#sidebar-primary {
    display: none;
    float: right;
    width: 160px;
    margin: 0;
    padding: 1em;
    border-left: none;
    border-bottom: none;
    background: -moz-linear-gradient(315deg, transparent 20px, #ca110e 20px);
    background: -o-linear-gradient(315deg, transparent 20px, #ca110e 20px);
    background: -webkit-linear-gradient(315deg,  transparent 20px, #ca110e 20px);
    color: #fffafa;
    border-radius: 3px;
}

#sidebar-primary .wishlist {
    padding-top: 10px;
}


#content {
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
}

body {
    font-family:  verdana, Helvetica, serif;
    font-size: 12px;
    background-image: url('/static/images/main_bg.png');
    margin-top: 0px;
    padding-top: 0px;
}

a:link {
    color: #225aa9;
    text-decoration: none;
}

a:hover {
    color: #225aa9;
    text-decoration: none;
}

a:active {
    color: #225aa9;
    text-decoration: none;
}

a:visited {
    color: #225aa9;
    text-decoration: none;
}
#pagination {
    clear:both;
    display: block;
    width:100%;
    float: none;
    padding: 1em;
}

#pagination ul {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 12px;
}

#pagination li {
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}

#pagination a, #pagination a:visited {
    padding: 0 5px;
    text-decoration: none;
}

#pagination li.currentpage {
    font-weight: bold;
    padding: 0 5px;
}

#content div.productreviews {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}


#content div.productreviews h2 {
    font-size: 14px;
}

#content div.productreviews span.label {
    float: left;
    width: 80px;
}

#footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #FF0000;
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
}

#footer a:link {
    color: #FF0000;
    text-decoration: none;
}

#footer a:visited {
    color: #FF0000;
    text-decoration: none;
}


#sidebar-secondary p, #sidebar-primary p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

.brandcategories {
    clear: both;
}

.brandImage,
.productImage {
    /*background: -moz-linear-gradient(315deg, transparent 10px, #ffffff 10px);
    background: -o-linear-gradient(315deg, transparent 10px, #ffffff 10px);
    background: -webkit-linear-gradient(315deg,  transparent 10px, #ffffff 10px);*/
    border-style: none;
    padding:0;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:2px;
    text-align: center;
    background-color: #000000;
}

.productImage p {
    text-align: center;
    font-size: 10pt;
}

#menu_container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#shipping ul li {
    list-style-type: none;
    text-decoration: none;
    padding-left: 1em;
    text-indent: -1em;
}

#checkoutprogress {
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    margin-bottom: 25px;
}

#checkoutprogress ul {
    display: inline;
    margin-left: 0;
    padding-left: 0;
    border: none;
}

#checkoutprogress ul li {
    margin-left: 0;
    padding-left: 2px;
    display: inline;
    list-style: none;
}

#checkoutprogress ul li:before {
    content: "\0020 \0020 \0020 \00BB \0020";
    display: inline;
    list-style: none;
}

#checkoutprogress ul li.first:before {
    content: " ";
}

#checkoutprogress li.active {
    background-color: #ccc;
}

#wishlist ul li,
#product_category ul li {
    list-style: none;
    padding: 0.5em;
    border-bottom: 1px dashed #e0e0e0;
    background-color: white;
}

#wishlist ul li:hover,
#product_category ul li:hover {
    background-color: #f0fff0;
}

#wishlist ul li a,
#product_category ul li a {
    display: block;
}

#wishlist span.date {
    font-style: italic;
    display: block;
    margin-left: 5px;
    font-size: 10px;
}

#wishlist form {
    display: inline;
}


#navigation ul, #navigation li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navigation a {
    background-color: rgb(34,90,169);
    text-decoration: none;
    font: 13px 'ColaborateLightRegular', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    color: rgb(255,255,255);
}
#navigation a:hover {
    border-top:1px solid #FFFFFF;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    background-color: #225aa9;
    color: red;
    /*font-weight: bold;*/
}

#navigation ul a {
    background-color: #ffffff;
    text-decoration: none;
    font: 13px 'ColaborateLightRegular', Arial, sans-serif;
    text-align: center;
    border-top: 1px solid #555555;
    border-left:1px solid #555555;
    border-right:1px solid #555555;
    border-bottom:1px solid #555555;
    margin: 0px;
    padding: 0px;
    color: rgb(34,90,169);
}
#navigation ul a:hover {
    border-top:1px solid #555555;
    border-left:1px solid #555555;
    border-right:1px solid #555555;
    border-bottom:1px solid #555555;
    background-color: #FFFFFF;
    color: red;
    /*font-weight: bold;*/
}

/*#navigation .stack > a {
    background-image: url(/static/images/arrow/arrow.png);
    background-repeat: no-repeat;
    background-position: 97% -78px;
}
#navigation .stack > a:hover {
    background-position: 97% -78px;
}
#navigation ul .stack > a {
    background-position: 97% -54px;
}
#navigation ul .stack > a:hover {
    background-position: 97% -54px;
}*/




/*#menu-container li li a {
    color: #225aa9;
    background: #fff;
    display: block;
    font: 12px verdana;
    margin-left: 30px;
    padding: 1px;
    text-decoration: none;
    width: 908px;
}

#menu-container li li a:hover {
    color: #fff;
    background: #000;
}

#menu-container li li a:active {
    color: #FF0000;
    background: #fff;
}

#menu-container li li a:visited {
    color: #225aa9;
    background: #fff;
}*/

.addressblock {
    padding-top: .5em;
    padding-bottom: .5em;
}

.profile li {
    list-style-type: none;
}

table.ordertable {
    width:  100%;
    font-weight: normal;
    font-size: 13px;
}

table.ordertable thead {
    background-color: #ddd;
}

table.ordertable span.orderitemqty {
    font-style: italic;
}
p {
    line-height: 150%;
}

.help, p.help {
    font-size:9px !important; color:#999;
}

img {
    border: none;
}

.error {
    color: red;
    text-align: center;
}

input[type="submit"] {
    border: 1px solid #225aa9;
    background-color: #FFFFFF;
}

input[type="submit"]:hover {
    border: 1px solid #FFFFFF;
    background-color: #225aa9;
    color: #FFFFFF;
}

input[type="text"] {
    border: 1px solid #225aa9;
}

input[type="text"]:hover {
    background-color: rgba(34, 90, 169, 0.08);
}

select {
    overflow: hidden;
    border:1px solid #006400;
}

select option:hover {
    color: #FFFFFF;
    border: 1px solid #225aa9;
}

#price {
    color: #CC0000;
    font-size: 24px;
    border: 1px dashed #CCCCCC;
    padding: 5px;
}

#footer_menu ul {
    color: #225aa9;
}

#footer_menu ul li {
    float: left;
    list-style: none;
}

#footer_menu ul li:after {
    content:"|";
    color: red;
}

#footer_menu ul li:last-child:after {
    content: "";
}

#footer_menu ul li a:link{
    margin: 0 33px;
    font-weight: bold;
    color: #225aa9;
}

#footer_menu ul li a:visited{
    margin: 0 33px;
    font-weight: bold;
    color: #225aa9;
}

#footer_menu ul li a:hover{
    color: red;
}
/* =============== Navigation Bars ===================== */

#navbar ul {
    margin: 1em;
    padding: 0px;
}
#navbar ul li {
    display: inline;
    list-style: none;
}
#navbar ul li {
    padding-left: 0.7em;
    padding-right: 0.5em;
    border-left: 1px solid #b0b0b0;
}
#navbar ul li.first {
    padding-left: 0em;
    border-left: none;
}

.recentview h3 {
    padding-bottom: 10px;
}

.recentitem {
    padding-bottom: 10px;
}

div.recentlyadded {
    display: block;
}

.qtyform #id_quantity {
    width: 5em;
}

#payment ul li{
    list-style-type: none;
}

/* ============ Upsell section ============== */

div.upsell {
    padding-top: 10px;
}

div.upsell .upselldescription {
    padding-bottom: 10px;
}

