/* @override http://localhost:8000/static/css/style.css */

html {
    overflow: -moz-scrollbars-vertical;

    overflow: scroll;
    min-height: 695px;
}

#container {
    width: 940px;
    margin: 10px auto;
    background-color: #fff;
    color: #333;
    border: 1px solid #ffffff;
    line-height: 130%;
    padding: 0;
    margin-top: 0;
}


#navbar {
    width: 938px;
    background: #fff;
    border: 1px solid #ffffff;
    height: 30px;
    margin: 41px 0 0 0;
    z-index: 100;
    color: red;
    padding-top: 0;
}

#logo {
    padding-left: 12px;
}

#navbar ul li a {
    background: #FFFFFF;
    color: #FF0000;
}
#navbar ul li a:hover {
    background: #FFFFFF ;
    color: #FF0000;

}

#top {
    padding: .5em;
    background-color: #FFFFFF;
    border-style: hidden;
    margin-bottom: 2px;
}

#top h3 {
    display: none;
}
#top h1 {
    padding: 0;
    margin: 0;
}

#social_logo_t {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/twitter_logo.png) no-repeat bottom;
}
#social_logo_t:hover {
    background: url(/static/images/logo/twitter_logo.png) no-repeat top;
}

#social_logo_in {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/in_logo.png) no-repeat bottom;
}
#social_logo_in:hover {
    background: url(/static/images/logo/in_logo.png) no-repeat top;
}

#social_logo_f {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/facebook_logo.png) no-repeat bottom;
}
#social_logo_f:hover {
    background: url(/static/images/logo/facebook_logo.png) no-repeat top;
}

#skype_logo {
    float: right;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    background: url(/static/images/logo/skype_logo.png)no-repeat bottom;
}
#skype_logo:hover {
    background: url(/static/images/logo/skype_logo.png) no-repeat top;
}
#fb_connect {
    background: url(/static/images/logo/FB_connect.png) no-repeat;
    width: 133px;
    height: 30px;
    float: right;
    padding-right: 100px;
    display: none;
}
#banner {
    float: right;
    width: 300px;
    height: 60px;
    padding-right: 80px;
}
#search {
    margin-right: 80px;
    margin-top: 15px;
    float: right;
}

#search #search_button {
    background: url(/static/images/logo/Search.png) no-repeat bottom;
    width: 20px;
    height: 20px;
    border: none;
    font-size: 0px;
    vertical-align: 5px;
}
#search #search_button:hover {
    background: url(/static/images/logo/Search.png) no-repeat top;
}

h4 {
    font-size: 17px;
    display: none;
}

h5 {
    margin: 0;
    padding: 0;
}

#sidebar-secondary {
    width: 260px;
    margin: 0;
    padding: 0;
    float: left;
    display: none;
}

#top-menu {
    width: 940px;

}

#sidebar-secondary h3, #myAccount h3 {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0.1em;
    margin-top: 0;
    color: #FFFFFF;
    display: none;
}

#myAccount a:visited {
    /*line-height: 2;*/
    margin-top: 10px;
    color: #FFFFFF;
}
#myAccount a:link {
    color: #FFFFFF;
}
#myAccount a:hover {
    color: #FF0000;
}

#myAccount .wishlist {
    padding-top: 10px;
}


#content {
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family:  verdana, Helvetica, serif;
    font-size: 12px;
    background-color: #FFFFFF;
    margin-top: 0px;
    padding-top: 0px;
}

#check_out a {
    background: url(/static/images/logo/TFO-Buy-button.png) no-repeat top;
    width: 100px;
    height: 103px;
    font-size: 0px;
    border: none;
    left: 850px;
    display: block;
    float: right;
}
#check_out a:hover {
    background: url(/static/images/logo/TFO-Buy-button.png) no-repeat bottom;
}

a:link {
    color: #225aa9;
    text-decoration: none;
}

a:hover {
    color: #225aa9;
    text-decoration: none;
}

a:active {
    color: #225aa9;
    text-decoration: none;
}

a:visited {
    color: #225aa9;
    text-decoration: none;
}
#pagination {
    clear:both;
    display: block;
    width:100%;
    float: none;
    padding: 1em;
}

#pagination ul {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 12px;
}

#pagination li {
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}

#pagination a, #pagination a:visited {
    padding: 0 5px;
    text-decoration: none;
}

#pagination li.currentpage {
    font-weight: bold;
    padding: 0 5px;
}

#content div.productreviews {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}


#content div.productreviews h2 {
    font-size: 14px;
}

#content div.productreviews span.label {
    float: left;
    width: 80px;
}

#products_image {
    width: 400px;
    text-align: center;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
}


#detail {
    width: 500px;
    float: right;
}
#choose {
    font-weight: bold;
    clear: both;
    display: inline-block;
    width: 250px;
    height: 30px;
}

#footer {
    clear: both;
    margin: 0;
    padding: 0;
    color: #FF0000;
    background-color: #ffffff;
    border: none;
    display: inline-block;
}

/*#footer_menu {
    width: 100%;
}

#footer p {
    clear: both;
    display: inline;
}

#footer_logos {
    width: 100%;
}*/

#footer_logo_left {
    float: left;
    clear: both;
}

#footer_logo_right {
    float: right;
}

#footer_logo_right img {
    padding-right: 2px;
}

#footer a:link {
    color: #FF0000;
    text-decoration: none;
}

#footer a:visited {
    color: #FF0000;
    text-decoration: none;
}
#footer_menu ul {
    color: #225aa9;
}

#footer_menu ul li {
    float: left;
    list-style: none;
    margin-bottom: 10px;
}

#footer_menu ul li:after {
    content:"|";
    color: red;
}

#footer_menu ul li:last-child:after {
    content: "";
}

#footer_menu ul li a:link{
    width: 140px;
    font-weight: bold;
    color: #225aa9;
    display: inline-block;
    text-align: center;
    white-space:nowrap;
}

#footer_menu ul li a:visited{
    font-weight: bold;
    color: #225aa9;
}

#footer_menu ul li a:hover{
    color: red;
}

#sidebar-secondary p, #sidebar-primary p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

.brandcategories {
    clear: both;
}

.brandImage,
.productImage {
    border-style: none;
    padding:0;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:2px;
    text-align: center;
    background-color: #FFFFFF;
    width: 218px;
    height: 268px;
}
.productImage a:hover {
    color: #FF0000;
}
.productImage {
    position: relative;
}
.productFloat {
    position: absolute;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 218px;
}

.productImage > a {
    text-align: center;
}

.productImage p {
    text-align: center;
    font-size: 10pt;
}

/*#menu-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}*/


#shipping ul li {
    list-style-type: none;
    text-decoration: none;
    padding-left: 1em;
    text-indent: -1em;
}

#checkoutprogress {
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    margin-bottom: 25px;
}

#checkoutprogress ul {
    display: inline;
    margin-left: 0;
    padding-left: 0;
    border: none;
}

#checkoutprogress ul li {
    margin-left: 0;
    padding-left: 2px;
    display: inline;
    list-style: none;
}

#checkoutprogress ul li:before {
    content: "\0020 \0020 \0020 \00BB \0020";
    display: inline;
    list-style: none;
}

#checkoutprogress ul li.first:before {
    content: " ";
}

#checkoutprogress li.active {
    background-color: #ccc;
}

#wishlist ul li,
#product_category ul li {
    list-style: none;
    padding: 0.5em;
    border-bottom: 1px dashed #e0e0e0;
    background-color: white;
    display: inline-block;
    text-align: center;
}

#wishlist ul li:hover,
#product_category ul li:hover {
    background-color: #FFFFFF;
    color: #FF0000;
}

#wishlist ul li a,
#product_category ul li a {
    display: block;
}
#product_category ul li a:hover {
    color: #FF0000;
}

#wishlist span.date {
    font-style: italic;
    display: block;
    margin-left: 5px;
    font-size: 10px;
}

#wishlist form {
    display: inline;
}


#navigation ul, #navigation li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 100;
}
#navigation a {
    background-color: rgb(34,90,169);
    text-decoration: none;
    font: 13px 'ColaborateLightRegular', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    color: rgb(255,255,255);
}
#navigation a:hover {
    border-top:1px solid #FFFFFF;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    background-color: #225aa9;
    color: red;
    /*font-weight: bold;*/
}

#navigation ul a {
    background-color: #ffffff;
    text-decoration: none;
    font: 13px 'ColaborateLightRegular', Arial, sans-serif;
    text-align: center;
    border-top: 1px solid #555555;
    border-left:1px solid #555555;
    border-right:1px solid #555555;
    border-bottom:1px solid #555555;
    margin: 0px;
    padding: 0px;
    color: rgb(34,90,169);
}
#navigation ul a:hover {
    border-top:1px solid #555555;
    border-left:1px solid #555555;
    border-right:1px solid #555555;
    border-bottom:1px solid #555555;
    background-color: #FFFFFF;
    color: red;
    /*font-weight: bold;*/
}

.addressblock {
    padding-top: .5em;
    padding-bottom: .5em;
}

.profile li {
    list-style-type: none;
}

table.ordertable {
    width:  100%;
    font-weight: normal;
    font-size: 13px;
}

table.ordertable thead {
    background-color: #ddd;
}

table.ordertable span.orderitemqty {
    font-style: italic;
}
p {
    line-height: 150%;
}

.help, p.help {
    font-size:9px !important; color:#999;
}

img {
    border: none;
}

.error {
    color: red;
    text-align: center;
}

#options #addcart {
    background: url("/static/images/logo/TFO-Buy-button.png") no-repeat scroll center top transparent;
    border: medium none;
    float: right;
    font-size: 0;
    height: 103px;
    position: relative;
    top: -30px;
    width: 100px;
}
#options #addcart:hover {
    background: url(/static/images/logo/TFO-Buy-button.png) no-repeat bottom;
}

input[type="submit"] {
    border: 1px solid #225aa9;
    border-radius: 3px;
    background-color: #FFFFFF;
}

input[type="submit"]:hover {
    border: 1px solid #FFFFFF;
    background-color: #225aa9;
    color: #FFFFFF;
}

input[type="text"] {
    border: 1px solid #225aa9;
    border-radius: 3px;
}

input[type="text"]:hover {
    background-color: rgba(34, 90, 169, 0.08);
}

input#search_keywords {
    width: 150px;
}

input#id_quantity {
    text-align: center;
}
input#quantity {
    text-align: center;
}
select {
    overflow: hidden;
    border:1px solid #225aa9;
    border-radius: 3px;
    width: 200px;
    clear: both;
}

select option:hover {
    color: #FFFFFF;
    border: 1px solid #225aa9;
    border-radius: 3px;
}

#price {
    border: 1px dashed #CCCCCC;
    color: #CC0000;
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;

}
#textPrice {
    margin-left: 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    display: table;
    width: 100px;
}



#animate1 {
    width: 15px;
    height: 140px;
    background: url(/static/images/Wood-&-Hyacinth01.png) no-repeat;
    margin: 0 0 0 5px;
    left: 0px;
    top: 45px;
    position: fixed;
    z-index: 200;
}
#animate1 p {
    background-color: #225aa9;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    width: 142px;
    height: 23px;
    top: 48px;
    left: -60px;
    font: 11px Verdana;
    position: absolute;
    line-height: 21px;
    border-radius: 0 0 5px 5px;
}

#animate2 {
    width: 15px;
    height: 105px;
    background: url(/static/images/Viro-Materials-Index01.png) no-repeat;
    margin: 0 0 0 5px;
    left: 0px;
    top: 189px;
    position: fixed;
    z-index: 200;
}
#animate2 p {
    background-color: #225aa9;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    width: 105px;
    height: 23px;
    top: 30px;
    left: -41px;
    font: 11px verdana;
    position: absolute;
    line-height: 21px;
    border-radius: 0 0 5px 5px;
}

#animate3 {
    width: 15px;
    height: 140px;
    background: url(/static/images/Utex-Fabric-Index01.png) no-repeat;
    margin: 0 0 0 5px;
    left: 0px;
    top: 296px;
    position: fixed;
    z-index: 200;
}
#animate3 p {
    background-color: #225aa9;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    width: 142px;
    height: 23px;
    top: 48px;
    left: -60px;
    font: 11px verdana;
    position: absolute;
    line-height: 21px;
    border-radius: 0 0 5px 5px;
}

#animate4 {
    width: 15px;
    height: 146px;
    background: url(/static/images/STD-Outdoor-Fabric01.png) no-repeat ;
    margin: 0 0 0 5px;
    left: 0px;
    top: 440px;
    position: fixed;
    z-index: 200;
}
#animate4 p {
    background-color: #225aa9;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    width: 147px;
    height: 23px;
    top: 51px;
    left: -62px;
    font: 11px verdana;
    position: absolute;
    line-height: 21px;
    border-radius: 0 0 5px 5px;
}

#animate5 {
    width: 15px;
    height: 146px;
    background: url(/static/images/Sunbrella-Outdoor-Fabric01.png) no-repeat;
    margin: 0 0 0 5px;
    left: 0px;
    top: 549px;
    position: fixed;
    z-index: 200;
    display: none;
}
#animate5 p {
    background-color: #225aa9;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    width: 147px;
    height: 23px;
    top: 51px;
    left: -62px;
    font: 11px verdana;
    position: absolute;
    line-height: 21px;
    border-radius: 0 0 5px 5px;
    display: none;
}

#toTop {
    width: 30px;
    height: 30px;
    border:none;
    background: url(/static/images/logo/toTop.png) no-repeat top;
    text-align:center;
    padding: 0;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
}

#toTop:hover {
    background: url(/static/images/logo/toTop.png) no-repeat bottom;

}

#myAccountContent {
    display: block;
    right: 0px;
    width: 160px;
    margin: 0;
    padding: 1em;
    border: 1px solid #FF0000;
    background-color: #225aa9;
    color: #ffd700;
    border-radius: 3px;
    z-index: 300;
    float:right;
}

#myAccountHandle p {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    color: #FFFFFF;
    font: 11px Verdana;
    left: 0px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 17px;
}
#myAccountHandle{
    background-color: #225AA9;
    border: #FFFFFF solid 1px;
    height:90px;
    width:23px;
    border-radius:5px 0 0 5px;
    float:right;
    cursor:pointer;
}
#myAccount{
    width:245px;
    position:fixed;
    right:-186px;
    top:15%;
    z-index: 300;
}

#related p a:hover {
    color: #FF0000;
}

#partner {
    line-height: 200px;
}
#partner img {
    vertical-align: middle;
    padding-right: 30px;
    padding-left: 30px;
}


/* =============== Navigation Bars ===================== */

#navbar ul {
    margin: 1em;
    padding: 0px;
}
#navbar ul li {
    display: inline;
    list-style: none;
}
#navbar ul li {
    padding-left: 0.7em;
    padding-right: 0.5em;
    border-left: 1px solid #b0b0b0;
}
#navbar ul li.first {
    padding-left: 0em;
    border-left: none;
}

.recentview h3 {
    padding-bottom: 10px;
}

.recentitem {
    padding-bottom: 10px;
}

div.recentlyadded {
    display: block;
}

.qtyform #id_quantity {
    width: 5em;
}

#payment ul li{
    list-style-type: none;
}

/* ============ Upsell section ============== */

div.upsell {
    padding-top: 10px;
}

div.upsell .upselldescription {
    padding-bottom: 10px;
}



#slideshow {
    margin: 0;
    position: relative;
    width: 100%;
    height: 520px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

